body {
    background-color: rgb(75, 103, 104);
    text-align: center;
}

h1 {
    color: rgb(38, 67, 145);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0 0 3px #00d9ff;

}

p {
    color: rgb(36, 24, 88);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 120%;
    

}

p2 {
    font-family: fantasy;
    font-size: 400%;
    color: rgb(67, 163, 133)
}

p3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-small;
}

button {
    background-color: rgb(31, 18, 18);
    color: rgb(94, 148, 192);
    border-radius: 50%;
}
button:hover{
    background-color: rgb(94, 148, 192);
    color:Black;
    border-radius: 100%;
}
ol{
    text-align: left;
    font-size: 150%;
}

ul {
    text-align: left;
    font-size: 100%;
}